<h1 mat-dialog-title>Add a new contact</h1>
<div
  mat-dialog-content
  [formGroup]="contactFormGroup"
  class="add-contact-form-container"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input class="name-input" matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Family Name</mat-label>
    <input
      class="family-name-input"
      matInput
      type="text"
      formControlName="familyName"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input class="email-input" matInput type="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input class="phone-input" matInput type="tel" formControlName="phone" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input
      class="address-input"
      matInput
      type="text"
      formControlName="address"
    />
  </mat-form-field>
</div>
<div class="actions" mat-dialog-actions>
  <button
    class="cancel-contact"
    mat-button
    color="accent"
    (click)="dialogRef.close(null)"
  >
    CANCEL
  </button>
  <button
    class="add-contact"
    mat-button
    (click)="dialogRef.close(contactFormGroup.value)"
    [disabled]="contactFormGroup.invalid"
  >
    ADD
  </button>
</div>
